/*  Reset & Base  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 1200px;
}

body {
    background: #f8fafc;
}

/*  Container  */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*  NAVBAR  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 98px;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-menu li a {
    text-decoration: none;
    font-weight: 500;
    color: #575757;
}

.nav-menu li a:hover {
    color: #1D4ED8;
}
.common-btn {
    display: flex;
    width: 188px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: #1D4ED8;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}


/* HERO */
.hero {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.60) 30%, rgba(0, 0, 0, 0.00) 70%), linear-gradient(213deg, rgba(0, 0, 0, 0.00) 42.9%, rgba(0, 0, 0, 0.88) 82.18%), url('./images/banner.jpg') lightgray 50% / cover no-repeat;
    padding: 100px 0 200px;
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}


.hero p {
    font-size: 1.1rem;
    color: #cbd5e6;
    margin-bottom: 24px;
    text-align: center;
}


.hero-btn {
    display: flex;
    width: 282px;
    height: 74px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1D4ED8;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    margin-top: 278px;
}
/*  SPEAKERS SECTION  */
.speakers-section h1 {
    text-align: center;
    font-size: 2.8rem;
    margin: 80px 0;
    font-weight: 700;
    color: #111;
}

/*  columns  */
.speakers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;
}

/*  Speaker Card  */
.speaker-card {
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.speaker-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.10);
}

/*  Image  */
.speaker-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

/*  Content  */
.speaker-content {
    padding: 20px 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}